<h2>
  Image lazy swiper
</h2>

<ng-swiper>
  <div ngSwiperItem >
    <div class="swiper-lazy-preloader">
    </div>
    <img src="/images/PIA01262.jpg"
         style="width: 100%; height: auto;"
         alt="Hubble Tracks Jupiter Storms"
         height="800"
         width="800"
         loading="lazy" />
  </div>
  <div ngSwiperItem >
    <div class="swiper-lazy-preloader">
    </div>
    <img src="/images/PIA01591.jpg"
         style="width: 100%; height: auto;"
         alt="A Closer Hubble Encounter With Mars - Elysium"
         height="800"
         width="800"
         loading="lazy" />
  </div>
  <div ngSwiperItem>
    <div class="swiper-lazy-preloader">
    </div>
    <img src="/images/hubble-captures-vivid-auroras-in-jupiters-atmosphere_28000029525_o~orig.jpg"
         style="width: 100%; height: auto;"
         alt="Hubble Captures Vivid Auroras in Jupiter’s Atmosphere"
         height="2216"
         width="2224"
         loading="lazy" />
  </div>
</ng-swiper>
