<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav mode="side" fixedTopGap="56" opened>
        <mat-nav-list>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'a11y'] } },
                ]"
                mat-list-item>
                A11y
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'autoplay'] } },
                ]"
                mat-list-item>
                Autoplay
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'controller'] } },
                ]"
                mat-list-item>
                Controller
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'free-mode'] } },
                ]"
                mat-list-item>
                Free Mode
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'grid'] } },
                ]"
                mat-list-item>
                Grid
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'hash-navigation'] } },
                ]"
                mat-list-item>
                Hash Navigation
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'history'] } },
                ]"
                mat-list-item>
                History
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'keyboard'] } },
                ]"
                mat-list-item>
                Keyboard
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'mousewheel'] } },
                ]"
                mat-list-item>
                Mousewheel
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'navigation'] } },
                ]"
                mat-list-item>
                Navigation
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'pagination'] } },
                ]"
                mat-list-item>
                Pagination
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'parallax'] } },
                ]"
                mat-list-item>
                Parallax
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'scrollbar'] } },
                ]"
                mat-list-item>
                Scrollbar
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'thumbs'] } },
                ]"
                mat-list-item>
                Thumbs
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'virtual'] } },
                ]"
                mat-list-item>
                Virtual
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'zoom'] } },
                ]"
                mat-list-item>
                Zoom
            </a>

            <hr />

            <div mat-subheader>
                <b> Effects </b>
            </div>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'effects', 'cards'] } },
                ]"
                mat-list-item>
                Cards
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'effects', 'coverflower'] } },
                ]"
                mat-list-item>
                Coverflower
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'effects', 'creative'] } },
                ]"
                mat-list-item>
                Creative
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'effects', 'fade'] } },
                ]"
                mat-list-item>
                Fade
            </a>
            <a
                [routerLink]="[
                    'swiper',
                    { outlets: { tab: ['tabs', 'effects', 'flip'] } },
                ]"
                mat-list-item>
                Flip
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="app-header">
            <h1> Ng-Swiper </h1>
        </mat-toolbar>

        <main class="app-main">
            <router-outlet />
        </main>

        <footer class="app-footer"> &copy; webts 2025 </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
