<h1>
  Swiper Test Page
</h1>

@defer (on viewport) {
  <app-div-slider />
} @placeholder {
  <p>Div Slider Placeholder</p>
}

@defer (on viewport) {
  <app-image-slider />
} @placeholder {
  <p>Image Slider Placeholder</p>
}

@defer (on viewport) {
  <app-image-thumbs-slider />
} @placeholder {
  <p>Image Thumbs Slider Placeholder</p>
}

@defer (on viewport) {
  <app-image-virtual-slider />
} @placeholder {
  <p>Image Virtual Slider Placeholder</p>
}

@defer (on viewport) {
  <app-image-lazy-slider />
} @placeholder {
  <p>Image Lazy Slider Placeholder</p>
}

@defer (on viewport) {
  <app-image-card-slider />
} @placeholder {
  <p>Image Card Slider Placeholder</p>
}
