<nav>
  <ul>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'a11y']}}]">
        A11y
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'autoplay']}}]">
        Autoplay
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'controller']}}]">
        Controller
      </a>
    </li>
    <li>
      Effects
      <ul>
        <li>
          <a [routerLink]="[{outlets: {tab: ['tabs', 'effects', 'cards']}}]">
            Cards
          </a>
        </li>
        <li>
          <a [routerLink]="[{outlets: {tab: ['tabs', 'effects', 'coverflower']}}]">
            Coverflower
          </a>
        </li>
        <li>
          <a [routerLink]="[{outlets: {tab: ['tabs', 'effects', 'creative']}}]">
            Creative
          </a>
        </li>
        <li>
          <a [routerLink]="[{outlets: {tab: ['tabs', 'effects', 'fade']}}]">
            Fade
          </a>
        </li>
        <li>
          <a [routerLink]="[{outlets: {tab: ['tabs', 'effects', 'flip']}}]">
            Flip
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'free-mode']}}]">
        Free Mode
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'grid']}}]">
        Grid
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'hash-navigation']}}]">
        Hash Navigation
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'history']}}]">
        History
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'keyboard']}}]">
        Keyboard
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'mousewheel']}}]">
        Mousewheel
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'navigation']}}]">
        Navigation
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'pagination']}}]">
        Pagination
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'parallax']}}]">
        Parallax
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'scrollbar']}}]">
        Scrollbar
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'thumbs']}}]">
        Thumbs
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'virtual']}}]">
        Virtual
      </a>
    </li>
    <li>
      <a [routerLink]="[{outlets: {tab: ['tabs', 'zoom']}}]">
        Zoom
      </a>
    </li>
  </ul>
</nav>

<section>
  <router-outlet name="tab" />
</section>
